version: "3.7"


services:
  ide-gateway:
    image: ide-gateway
    build: ./gateway/
    container_name: ide-gateway
    restart: unless-stopped
    env_file:
      - ./gateway/.env
    ports:
      - 127.0.0.50:8080:3000
    volumes:
      - ide-accessibility-files:/www/app/files
      - ide-accessibility-reports:/www/app/reports
    networks:
      - ide
    depends_on:
      - ide-tarantool


  ide-registration-authorization:
    image: ide-registration-authorization
    build: ./registration-authorization/
    container_name: ide-registration-authorization
    restart: unless-stopped
    env_file:
      - ./registration-authorization/.env
    ports:
      - 127.0.0.50:8090:3000
    networks:
      - ide
    depends_on:
      - ide-redis
      - ide-tarantool


  ide-tarantool:
    image: tarantool/tarantool:2
    container_name: ide-tarantool
    restart: unless-stopped
    ports:
      - 127.0.0.50:3301:3301
    volumes:
      - /databases/ide/tarantool:/var/lib/tarantool
    networks:
      - ide


  ide-redis:
    image: redis
    container_name: ide-redis
    restart: unless-stopped
    ports:
      - 127.0.0.50:6379:6379
    volumes:
      - /databases/ide/redis:/data
    networks:
      - ide


  ide-serve-static:
    image: nginx
    container_name: ide-serve-static
    restart: unless-stopped
    ports:
      - 127.0.0.50:9010:80
    volumes:
      - ./serve-static:/etc/nginx/conf.d
      - ide-accessibility-files:/mnt/files
      - ide-accessibility-reports:/mnt/reports
    networks:
      - ide
    depends_on:
      - ide-gateway


networks:
  ide:
    driver: bridge


volumes:
  ide-accessibility-files:
  ide-accessibility-reports:
